# 3. Filtrage de donn√©es / outliers

In [1]:
import pandas as pd
import numpy as np
#Question 1
df = pd.DataFrame({"val":[1,3,4,5,28,12,14,56]})
df

   val
0    1
1    3
2    4
3    5
4   28
5   12
6   14
7   56

In [24]:
df2 = pd.DataFrame({"val1":[1,3,4,5,28,12,2,14,56]
, "val2":[5,6,7,8,19,8,1,7,2]
})
#df2.gt(3)
#df2[df2.gt(3)]
df2[(df2['val1']>3) | (df2['val2']>3)]

   val1  val2
0     1     5
1     3     6
2     4     7
3     5     8
4    28    19
5    12     8
7    14     7
8    56     2

In [2]:
col = df["val"]
np.abs(col) > 3

0    False
1    False
2     True
3     True
4     True
5     True
6     True
7     True
Name: val, dtype: bool

In [10]:
#Filter pour ne garder que les valeurs > 3
col = df["val"]
res = col[np.abs(col) > 3]
res

2     4
3     5
4    28
5    12
6    14
7    56
Name: val, dtype: int64

In [22]:
#Question 2
df = pd.DataFrame({"val1":[1,3,4,5,28,12,2,14,56], "val2":[5,6,7,8,19,8,1,7,2]})
df

   val1  val2
0     1     5
1     3     6
2     4     7
3     5     8
4    28    19
5    12     8
6     2     1
7    14     7
8    56     2

In [21]:
#Filter pour ne garder que les lignes dont valeurs > 3 dans les cellules

res = df[(np.abs(df) > 3).any(axis = 1)]
res

   val1  val2
0     1     5
1     3     6
2     4     7
3     5     8
4    28     2
5    12     8
7    14     7
8    56     2