In [1]:
import numpy as np
import pandas as pd
import matplotlib.pyplot as plt
from sklearn.neighbors import KernelDensity

In [2]:
%matplotlib

Using matplotlib backend: GTK3Agg

In [3]:
donnee = pd.read_csv('../Fichiers/DonneesFumeursv0r2.csv')
stats=donnee.describe()
dimensions=donnee.shape
nomsvariables = pd.DataFrame(donnee.columns)
stats

,Âge,Cigarettes par jour (week-end),Cigarettes par jour (semaine)
count,1691.000000,1691.000000,1691.000000
mean,49.836192,4.085748,3.423418
std,18.736851,8.643517,7.568341
min,16.000000,0.000000,0.000000
25%,34.000000,0.000000,0.000000
50%,48.000000,0.000000,0.000000
75%,65.500000,0.000000,0.000000
max,97.000000,60.000000,55.000000

In [4]:
donnee.isnull().sum()

Genre                                0
Âge                                  0
Statut                               0
Revenus                            126
Fumeur?                              0
Cigarettes par jour (week-end)       0
Cigarettes par jour (semaine)        0
Type                              1270
dtype: int64

In [5]:
len(donnee[donnee.Revenus.isnull()])

126

In [6]:
donnee.isna().sum()

Genre                                0
Âge                                  0
Statut                               0
Revenus                            126
Fumeur?                              0
Cigarettes par jour (week-end)       0
Cigarettes par jour (semaine)        0
Type                              1270
dtype: int64

In [7]:
dfSansNa = donnee.drop('Type', axis=1)

In [8]:
dfSansNa.isnull().sum()

Genre                               0
Âge                                 0
Statut                              0
Revenus                           126
Fumeur?                             0
Cigarettes par jour (week-end)      0
Cigarettes par jour (semaine)       0
dtype: int64

In [9]:
dfSansNa.dropna(inplace=True)

In [10]:
dfSansNa.describe()

,Âge,Cigarettes par jour (week-end),Cigarettes par jour (semaine)
count,1565.000000,1565.000000,1565.000000
mean,49.609585,4.192332,3.494569
std,18.444783,8.756989,7.669116
min,16.000000,0.000000,0.000000
25%,34.000000,0.000000,0.000000
50%,47.000000,0.000000,0.000000
75%,65.000000,1.000000,0.000000
max,97.000000,60.000000,55.000000

"Génération des histogrammes et fonction de densité"

In [12]:
ax=donnee["Âge"].plot.hist(density=False, bins = 10, color = 'blue', edgecolor = 'black')
ax.set_xlabel("Âge")

Text(0.5, 0, 'Âge')

In [75]:

ax=donnee["Âge"].plot.hist(density=True, bins = 10, color = 'blue', edgecolor = 'black')
ax.set_xlabel("Âge")
ax.set_ylabel("Probabilités")

Text(0, 0.5, 'Probabilités')

In [76]:
## d = num de segmentos da linha
d=50
grille_x = np.linspace(donnee["Âge"].min()-10, donnee["Âge"].max()+10, d)
dx=(donnee["Âge"].max()+10-(donnee["Âge"].min()-10))/(d-1)
Age_valeurs=donnee["Âge"].values.reshape(-1, 1)
## bandwith: qto maior, mais imprecisa é a linha
kde = KernelDensity(kernel='gaussian', bandwidth=10).fit(Age_valeurs)

TEST=kde.score_samples(grille_x.reshape(-1, 1))
pdf = np.exp(kde.score_samples(grille_x.reshape(-1, 1)))

In [77]:
fig, ax = plt.subplots()
ax=donnee["Âge"].plot.hist(density=True, bins = 10, color = 'blue', edgecolor = 'black')
ax.set_xlabel("Âge")
ax.plot(grille_x, pdf, linewidth=3, color = 'red')
ax.set_ylabel("Fonction de densité f(x)")

#print((pdf*dx).sum())

Text(0, 0.5, 'Fonction de densité f(x)')

Cumulativa

In [55]:
fig, ax = plt.subplots()
donnee["Âge"].hist(cumulative=True, density=1, bins=10)
cdf = np.cumsum(pdf*dx)
ax.plot(grille_x, cdf, linewidth=3, color = 'red')
ax.set_xlabel("Âge")
ax.set_ylabel("Fonction cumulative F(x)")

Text(0, 0.5, 'Fonction cumulative F(x)')

In [56]:
grille_x_pd=pd.DataFrame(grille_x)
grille_x_pd.columns=["Âges"]
pdf_pd=pd.DataFrame(pdf)
pdf_pd.columns=["PDF"]
cdf_pd=pd.DataFrame(cdf)
cdf_pd.columns=["CDF"]
DistAge=pd.concat([grille_x_pd,pdf_pd,cdf_pd],axis=1)

In [57]:
Prob_moins_40=DistAge["PDF"][DistAge["Âges"]<=40].sum()*dx

Seaborn

In [69]:
import seaborn as sns
%matplotlib

Using matplotlib backend: GTK3Agg

In [74]:
sns.kdeplot(donnee["Âge"], shade=True, bw_adjust=True)

<ipython-input-74-30f89feaa4a7>:1: FutureWarning:

`shade` is now deprecated in favor of `fill`; setting `fill=True`.
This will become an error in seaborn v0.14.0; please update your code.

  sns.kdeplot(donnee["Âge"], shade=True, bw_adjust=True, cumulative=True)