In [31]:
import numpy as np
import pandas as pd
import matplotlib.pyplot as plt
import scipy.stats as sts
import statsmodels.api as stm
import statsmodels.stats.weightstats as ws
from sklearn.linear_model import LinearRegression
from sklearn import metrics as mt
import math

In [32]:
from pathlib import Path
# `path.parents[1]` is the same as `path.parent.parent`
path= Path().resolve().parent
pathdata = str(path) +"/Data/"
pathdata

'/home/hadoop/Git_Ia/CegepSteFoy_IA/04_Eda/Data/'

In [33]:
donnee = pd.read_csv(pathdata+ "Fichiers12/DonneesMarketingv0r3.csv")
donnee = donnee.dropna()
stats=donnee.describe()
dimensions=donnee.shape
nomsvariables = pd.DataFrame(donnee.columns)

In [34]:
nomsvariables

                                        0
0                                      ID
1                                     Âge
2                              Statut Mat
3                                 Revenus
4                                 Enfants
5                             Adolescents
6                                    Date
7              Temps depuis dernier achat
8                           Vins ($/2sem)
9                         Fruits ($/2sem)
10                       Viandes ($/2sem)
11                       Poisson ($/2sem)
12                     Sucreries ($/2sem)
13                    Joaillerie ($/2sem)
14                     Achats avec rabais
15                             Achats web
16                      Achats catalogues
17                      Achats en magasin
18  Nombre de visite sites web (par mois)

In [35]:
X=donnee.drop({'ID'},1)
X.columns

Index(['Âge', 'Statut Mat', 'Revenus', 'Enfants', 'Adolescents', 'Date',
       'Temps depuis dernier achat', 'Vins ($/2sem)', 'Fruits ($/2sem)',
       'Viandes ($/2sem)', 'Poisson ($/2sem)', 'Sucreries ($/2sem)',
       'Joaillerie ($/2sem)', 'Achats avec rabais', 'Achats web',
       'Achats catalogues', 'Achats en magasin',
       'Nombre de visite sites web (par mois)'],
      dtype='object')

In [36]:
X.head()

,Âge,Statut Mat,Revenus,Enfants,Adolescents,Date,Temps depuis dernier achat,Vins ($/2sem),Fruits ($/2sem),Viandes ($/2sem),Poisson ($/2sem),Sucreries ($/2sem),Joaillerie ($/2sem),Achats avec rabais,Achats web,Achats catalogues,Achats en magasin,Nombre de visite sites web (par mois)
0,63,Célibataire,58138.0,0,0,2012-09-04,58,635,88,546,172,88,88,3,8,10,4,7
1,66,Célibataire,46344.0,1,1,2014-03-08,38,11,1,6,2,1,6,2,1,1,2,5
2,55,Conjoint de fait,71613.0,0,0,2013-08-21,26,426,49,127,111,21,42,1,8,2,10,4
3,36,Conjoint de fait,26646.0,1,0,2014-02-10,26,11,4,20,10,3,5,2,2,0,4,6
4,39,Marié,58293.0,1,0,2014-01-19,94,173,43,118,46,27,15,5,5,3,6,5

In [37]:
X.isnull().sum()

Âge                                      0
Statut Mat                               0
Revenus                                  0
Enfants                                  0
Adolescents                              0
Date                                     0
Temps depuis dernier achat               0
Vins ($/2sem)                            0
Fruits ($/2sem)                          0
Viandes ($/2sem)                         0
Poisson ($/2sem)                         0
Sucreries ($/2sem)                       0
Joaillerie ($/2sem)                      0
Achats avec rabais                       0
Achats web                               0
Achats catalogues                        0
Achats en magasin                        0
Nombre de visite sites web (par mois)    0
dtype: int64

In [38]:
Y=X['Vins ($/2sem)']

In [39]:
X.head()

,Âge,Statut Mat,Revenus,Enfants,Adolescents,Date,Temps depuis dernier achat,Vins ($/2sem),Fruits ($/2sem),Viandes ($/2sem),Poisson ($/2sem),Sucreries ($/2sem),Joaillerie ($/2sem),Achats avec rabais,Achats web,Achats catalogues,Achats en magasin,Nombre de visite sites web (par mois)
0,63,Célibataire,58138.0,0,0,2012-09-04,58,635,88,546,172,88,88,3,8,10,4,7
1,66,Célibataire,46344.0,1,1,2014-03-08,38,11,1,6,2,1,6,2,1,1,2,5
2,55,Conjoint de fait,71613.0,0,0,2013-08-21,26,426,49,127,111,21,42,1,8,2,10,4
3,36,Conjoint de fait,26646.0,1,0,2014-02-10,26,11,4,20,10,3,5,2,2,0,4,6
4,39,Marié,58293.0,1,0,2014-01-19,94,173,43,118,46,27,15,5,5,3,6,5

In [40]:
X['Statut Mat'].unique()

array(['Célibataire', 'Conjoint de fait', 'Marié', 'Divorcé', 'Veuf',
       'Autre'], dtype=object)

In [41]:
colStatutMarital = pd.get_dummies(X['Statut Mat'], prefix='StatutMarital_')


## concatenate side by side
X = pd.concat([X, colStatutMarital], axis=1)

In [42]:
corr = X.corr()

In [ ]:
X = X.drop({'Vins ($/2sem)'},1)

In [7]:
X=donnee.drop({'Espèces', 'Poids (g)'},1)
Y=donnee['Poids (g)']
Yclass = donnee['Espèces']

In [12]:
modele = stm.OLS(Y,X.assign(const=1))
resultats = modele.fit()
Y_chap = resultats.predict(X.assign(const=1))
resultats.summary()

<class 'statsmodels.iolib.summary.Summary'>
"""
                            OLS Regression Results
==============================================================================
Dep. Variable:              Poids (g)   R-squared:                       0.885
Model:                            OLS   Adj. R-squared:                  0.882
Method:                 Least Squares   F-statistic:                     236.2
Date:                Thu, 10 Nov 2022   Prob (F-statistic):           4.95e-70
Time:                        20:51:53   Log-Likelihood:                -987.96
No. Observations:                 159   AIC:                             1988.
Df Residuals:                     153   BIC:                             2006.
Df Model:                           5
Covariance Type:            nonrobust
===================================================================================
                      coef    std err          t      P>|t|      [0.025      0.975]
-----------------------------------------------------------------------------------
Longueur 1 (cm)    62.3552     40.209      1.551      0.123     -17.081     141.791
Longueur 2 (cm)    -6.5268     41.759     -0.156      0.876     -89.025      75.971
Longueur 3 (cm)   -29.0262     17.353     -1.673      0.096     -63.309       5.256
Hauteur (cm)       28.2974      8.729      3.242      0.001      11.052      45.543
Épaisseur (cm)     22.4733     20.372      1.103      0.272     -17.773      62.720
const            -499.5870     29.572    -16.894      0.000    -558.010    -441.164
==============================================================================
Omnibus:                       20.989   Durbin-Watson:                   0.424
Prob(Omnibus):                  0.000   Jarque-Bera (JB):               27.307
Skew:                           0.792   Prob(JB):                     1.18e-06
Kurtosis:                       4.269   Cond. No.                         315.
==============================================================================

Notes:
[1] Standard Errors assume that the covariance matrix of the errors is correctly specified.
"""

In [14]:
X2=X.drop({'Épaisseur (cm)', 'Longueur 2 (cm)'}, 1)
modele = stm.OLS(Y,X2.assign(const=1))
resultats = modele.fit()
Y_chap = resultats.predict(X2.assign(const=1))
resultats.summary()

<class 'statsmodels.iolib.summary.Summary'>
"""
                            OLS Regression Results
==============================================================================
Dep. Variable:              Poids (g)   R-squared:                       0.884
Model:                            OLS   Adj. R-squared:                  0.882
Method:                 Least Squares   F-statistic:                     395.1
Date:                Thu, 10 Nov 2022   Prob (F-statistic):           2.33e-72
Time:                        20:52:14   Log-Likelihood:                -988.61
No. Observations:                 159   AIC:                             1985.
Df Residuals:                     155   BIC:                             1997.
Df Model:                           3
Covariance Type:            nonrobust
===================================================================================
                      coef    std err          t      P>|t|      [0.025      0.975]
-----------------------------------------------------------------------------------
Longueur 1 (cm)    70.3272     13.200      5.328      0.000      44.253      96.402
Longueur 3 (cm)   -40.9376     12.477     -3.281      0.001     -65.584     -16.291
Hauteur (cm)       35.9229      5.457      6.583      0.000      25.143      46.703
const            -491.4670     28.243    -17.402      0.000    -547.257    -435.677
==============================================================================
Omnibus:                       14.969   Durbin-Watson:                   0.463
Prob(Omnibus):                  0.001   Jarque-Bera (JB):               17.843
Skew:                           0.631   Prob(JB):                     0.000134
Kurtosis:                       4.049   Cond. No.                         130.
==============================================================================

Notes:
[1] Standard Errors assume that the covariance matrix of the errors is correctly specified.
"""

In [27]:
stats

,Âge de la maison,Distance station transport,Nombre de dépanneurs à proximité,Latitude,Longitude,Prix par pied carré
count,414.000000,414.000000,414.000000,414.000000,414.000000,414.000000
mean,17.712560,1083.885689,4.094203,24.969030,121.533361,37.980193
std,11.392485,1262.109595,2.945562,0.012410,0.015347,13.606488
min,0.000000,23.382840,0.000000,24.932070,121.473530,7.600000
25%,9.025000,289.324800,1.000000,24.963000,121.528085,27.700000
50%,16.100000,492.231300,4.000000,24.971100,121.538630,38.450000
75%,28.150000,1454.279000,6.000000,24.977455,121.543305,46.600000
max,43.800000,6488.021000,10.000000,25.014590,121.566270,117.500000

In [29]:
donnee.head()

,Âge de la maison,Distance station transport,Nombre de dépanneurs à proximité,Latitude,Longitude,Prix par pied carré
0,32.0,84.87882,10,24.98298,121.54024,37.9
1,19.5,306.59470,9,24.98034,121.53951,42.2
2,13.3,561.98450,5,24.98746,121.54391,47.3
3,13.3,561.98450,5,24.98746,121.54391,54.8
4,5.0,390.56840,5,24.97937,121.54245,43.1

In [43]:
corr = donnee.corr()

In [37]:
Ystand = donnee['Prix par pied carré']
Xstand = donnee['Âge de la maison']
Xstand = stm.add_constant(Xstand)
modele = stm.OLS(Ystand, Xstand).fit()
print(modele.summary())

                             OLS Regression Results
===============================================================================
Dep. Variable:     Prix par pied carré   R-squared:                       0.044
Model:                             OLS   Adj. R-squared:                  0.042
Method:                  Least Squares   F-statistic:                     19.11
Date:                 Thu, 10 Nov 2022   Prob (F-statistic):           1.56e-05
Time:                         20:14:07   Log-Likelihood:                -1658.3
No. Observations:                  414   AIC:                             3321.
Df Residuals:                      412   BIC:                             3329.
Df Model:                            1
Covariance Type:             nonrobust
====================================================================================
                       coef    std err          t      P>|t|      [0.025      0.975]
------------------------------------------------------------------------------------
const               42.4347      1.211     35.042      0.000      40.054      44.815
Âge de la maison    -0.2515      0.058     -4.372      0.000      -0.365      -0.138
==============================================================================
Omnibus:                       48.404   Durbin-Watson:                   1.957
Prob(Omnibus):                  0.000   Jarque-Bera (JB):              119.054
Skew:                           0.589   Prob(JB):                     1.40e-26
Kurtosis:                       5.348   Cond. No.                         39.0
==============================================================================

Notes:
[1] Standard Errors assume that the covariance matrix of the errors is correctly specified.

In [40]:
modele.predict(Xstand.assign(const=1))
type(modele)

statsmodels.regression.linear_model.RegressionResultsWrapper

In [41]:
## https://www.statology.org/confidence-intervals-python/
sts.norm.interval(alpha=0.95, loc=np.mean(Ystand), scale=sts.sem(Ystand))

(36.6695214415256, 39.290865031904346)

In [44]:
from sklearn.preprocessing import MinMaxScaler
scalerX = MinMaxScaler()
Xnorm = scalerX.fit_transform(X.values)
scalerY = MinMaxScaler()
Ynorm = scalerY.fit_transform(Y.values.reshape(-1,1))
Xnorm=pd.DataFrame(Xnorm)
Xnorm.columns=X.columns
Ynorm=pd.DataFrame(Ynorm)
Ynorm.columns=['Prix par pied carré']

In [48]:
## Normalisation
modele = stm.OLS(Ynorm, Xnorm.assign(const=1))
resultats = modele.fit()
Y_chap = resultats.predict(Xnorm.assign(const=1))
resultats.summary()

<class 'statsmodels.iolib.summary.Summary'>
"""
                             OLS Regression Results
===============================================================================
Dep. Variable:     Prix par pied carré   R-squared:                       0.972
Model:                             OLS   Adj. R-squared:                  0.971
Method:                  Least Squares   F-statistic:                     989.2
Date:                 Thu, 10 Nov 2022   Prob (F-statistic):               0.00
Time:                         20:39:52   Log-Likelihood:                 1056.3
No. Observations:                  507   AIC:                            -2077.
Df Residuals:                      489   BIC:                            -2001.
Df Model:                           17
Covariance Type:             nonrobust
=======================================================================================
                          coef    std err          t      P>|t|      [0.025      0.975]
---------------------------------------------------------------------------------------
coude_dia (cm)          0.0125      0.018      0.694      0.488      -0.023       0.048
poignet_dia (cm)        0.0045      0.017      0.265      0.791      -0.029       0.038
genou_dia (cm)          0.0660      0.017      3.913      0.000       0.033       0.099
cheville_dia (cm)       0.0167      0.017      1.005      0.315      -0.016       0.049
épaule_tour (cm)        0.0492      0.021      2.383      0.018       0.009       0.090
pec_tour (cm)           0.1077      0.023      4.635      0.000       0.062       0.153
taille_tour (cm)        0.3041      0.022     14.028      0.000       0.262       0.347
abdomen_tour (cm)      -0.0259      0.020     -1.311      0.191      -0.065       0.013
hanche_tour (cm)        0.2498      0.024     10.448      0.000       0.203       0.297
bicept_tour (cm)        0.0553      0.023      2.406      0.017       0.010       0.100
avantbras_tour (cm)     0.1072      0.026      4.184      0.000       0.057       0.157
genou_tour (cm)         0.1134      0.022      5.264      0.000       0.071       0.156
cheville_tour (cm)      0.0342      0.018      1.948      0.052      -0.000       0.069
poignet_tour (cm)      -0.0393      0.019     -2.023      0.044      -0.078      -0.001
Âge                    -0.0430      0.008     -5.093      0.000      -0.060      -0.026
Grandeur (cm)           0.2043      0.012     16.390      0.000       0.180       0.229
Genre_Femme             0.0326      0.007      4.469      0.000       0.018       0.047
const                  -0.1494      0.010    -14.486      0.000      -0.170      -0.129
==============================================================================
Omnibus:                       31.783   Durbin-Watson:                   1.983
Prob(Omnibus):                  0.000   Jarque-Bera (JB):               68.775
Skew:                           0.347   Prob(JB):                     1.16e-15
Kurtosis:                       4.666   Cond. No.                         49.7
==============================================================================

Notes:
[1] Standard Errors assume that the covariance matrix of the errors is correctly specified.
"""